//  -----  React Notification  ------------------------- //
.notification {
  border-radius: 0px;
  opacity: 0.7;
}

.notification-success {
  background-color: #144;
}

//  -----  Progressbar  -------------------------------- //
.MuiLinearProgress-bar.MuiLinearProgress-bar {
  background: $primary-linear-gradient;
}

.MuiLinearProgress-root.MuiLinearProgress-root {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 83, 121, 1) 6%,
    rgba(10, 182, 216, 0.884) 100%
  );
}

//  -----  Button  ------------------------------------ //

.MuiChip-root.MuiChip-colorPrimary {
  background: $primary-linear-gradient;
  background-size: 200% 100%;
}

.MuiButtonBase-root.MuiButton-root {
  border-radius: 50px;
  text-transform: none;

  &.MuiButton-containedPrimary {
    background: $primary-linear-gradient;
    background-size: 200% 100%;
    transition: all ease-in-out 0.3s;

    &:hover {
      background-position: 100% 0;
      transition: all 0.2s ease-in-out;
    }
  }
}

//  --------------------------------------------------- //
